@font-face {
	font-family: Vollkorn-Black;
	src: url(fonts/Vollkorn/Vollkorn-Black.ttf);
}
@font-face {
	font-family: Vollkorn-BlackItalic;
	src: url(fonts/Vollkorn/Vollkorn-BlackItalic.ttf);
}
@font-face {
	font-family: Vollkorn-Bold;
	src: url(fonts/Vollkorn/Vollkorn-Bold.ttf);
}
@font-face {
	font-family: Vollkorn-BoldItalic;
	src: url(fonts/Vollkorn/Vollkorn-BoldItalic.ttf);
}
@font-face {
	font-family: Vollkorn-Italic;
	src: url(fonts/Vollkorn/Vollkorn-Italic.ttf);
}
@font-face {
	font-family: Vollkorn-Regular;
	src: url(fonts/Vollkorn/Vollkorn-Regular.ttf);
}
@font-face {
	font-family: Vollkorn-SemiBold;
	src: url(fonts/Vollkorn/Vollkorn-SemiBold.ttf);
}
@font-face {
	font-family: Vollkorn-SemiBoldItalic;
	src: url(fonts/Vollkorn/Vollkorn-SemiBoldItalic.ttf);
}
@font-face {
	font-family: OpenSans-Bold;
	src: url(fonts/open_sans/OpenSans-Bold.ttf);
}
@font-face {
	font-family: OpenSans-BoldItalic;
	src: url(fonts/open_sans/OpenSans-BoldItalic.ttf);
}
@font-face {
	font-family: OpenSans-CondBold;
	src: url(fonts/open_sans/OpenSans-CondBold.ttf);
}
@font-face {
	font-family: OpenSans-CondLight;
	src: url(fonts/open_sans/OpenSans-CondLight.ttf);
}
@font-face {
	font-family: OpenSans-CondLightItalic;
	src: url(fonts/open_sans/OpenSans-CondLightItalic.ttf);
}
@font-face {
	font-family: OpenSans-ExtraBold;
	src: url(fonts/open_sans/OpenSans-ExtraBold.ttf);
}
@font-face {
	font-family: OpenSans-ExtraBoldItalic;
	src: url(fonts/open_sans/OpenSans-ExtraBoldItalic.ttf);
}
@font-face {
	font-family: OpenSans-Italic;
	src: url(fonts/open_sans/OpenSans-Italic.ttf);
}
@font-face {
	font-family: OpenSans-Light;
	src: url(fonts/open_sans/OpenSans-Light.ttf);
}
@font-face {
	font-family: OpenSans-LightItalic;
	src: url(fonts/open_sans/OpenSans-LightItalic.ttf);
}
@font-face {
	font-family: OpenSans-Regular;
	src: url(fonts/open_sans/OpenSans-Regular.ttf);
}
@font-face {
	font-family: OpenSans-Semibold;
	src: url(fonts/open_sans/OpenSans-Semibold);
}
@font-face {
	font-family: OpenSans-SemiboldItalic;
	src: url(fonts/open_sans/OpenSans-SemiboldItalic.ttf);
}
.page{
	-webkit-tap-highlight-color: transparent;
}
.body{
	position: relative;
	font-family: OpenSans-Regular;
	font-size: 17px;
	margin: 0;
}
.page__inner{
	max-width: 1180px;
	margin-left: auto;
	margin-right: auto;
}
.link{
	text-decoration: none;
	color: #ffffff;
}
.button:visited{
	padding: 0;
}
/**************************Begin block Reservation-box******************/
.reservation-position{
	position: fixed;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 3;
}
.inactive{
	display: none;
}
.reservation-box{
	width: 420px;
	height: 455px;
	background-color: #ffffff;
	text-align: center;
	padding-top: 30px;
}
.reservation-form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
}
.input{
	font-family: OpenSans-Italic;
	font-size: 18px;
	padding-left: 20px;
	width: 315px;
	height: 55px;
	margin-top: 18px;
	margin-bottom: 18px;
	border:1px solid #71390b;
}
.input:active{
	border:1px solid #71390b;
	box-shadow: 0 0 3px #71390b;
}
.input-button__frame{
	margin-top: 35px;
	border:1px solid #71390b;
	padding: 10px;
}
.input-button{
	font-size: 18px;
	background-color: #71390b;
	color: #ffffff;
	width: 205px;
	height: 45px;
	border: none;
}
/**************************End block Reservation-box********************/

/**************************Begin block Header***************************/
.header{
	background: url('img/background_main.jpg') center no-repeat;
}
.interaction-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}
.logo{
	width: 143px;
	height: 91px;
}
.menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-item{
	font-family: Vollkorn-Regular;
	font-size: 18px;
	padding: 0 12px;
	line-height: 35px;
	vertical-align: middle;
	border:1px solid transparent;
}
.menu-item:hover{
	border:1px solid #ffffff;
}
.reservation{
	text-align: right;
}
.tel{
	font-size: 20px;
	line-height: 40px;
}
.reservation__button{
	font-size: 16px;
	color: #fff;
	margin:0 auto;
	width: 165px;
	height: 35px;
	border:1px solid #ffffff;
	background-color: transparent;
}
.reservation__button:hover{
	background-color: rgba(255,255,255,0.2);
	box-shadow: 0 0 10px rgba(255,255,255,1)
}
.reservation__button:active{
	box-shadow: 0 0 10px rgba(255,255,255,0.5)
}
.header-content{
	text-align: center;
	width: 904px;
	height: 577px;
	margin: 0 auto;
	background: url('img/board.png') center no-repeat;
	background-size: 103% 107%;
	background-position: top left;
}
.header-content__logo{
	margin-top: 20px;
	width: 187px;
	height: 119px;
}
.header-content__title{
	font-family: Vollkorn-SemiBold;
	font-size: 48px;
	margin-top: 40px;
	margin-bottom: 60px;
	color: #71390b;
}
.play-block{
	position: relative;
	width: 315px;
	margin-left: 47%;
}
.play-link{
	position: absolute;
	top:9px;
	left: 9px;
	display: block;
	width: 65px;
	height: 65px;
	border-radius: 55%;
	background: url('img/video.png') center no-repeat;
	z-index: 2;
}
.play-link:hover{
	background: url('img/video-hover.png') center no-repeat;
}
.play-block__dots{
	position: absolute;
	top:0;
	left: 0;
	height: 100px;
	width: 146px;
	background: url('img/dots.png') center no-repeat;
}
.play-block__text{
	padding-left: 80px;
	padding-top: 18px;
	font-size: 20px;
	color: #71390b;
}
.header-bootom__pic{
	margin-top: 40px;
	display: block;
	background: url('img/wave_main.png') center no-repeat;
	width: 100%;
	height: 173px;
}
/**************************End block Header*****************************/

/**************************Begin block Service-info*********************/
.service-info{
	background: url('img/plate_of_food.png') top right no-repeat;
	padding-top: 75px;
	padding-bottom: 100px;
}
.service-info__wrapper{
	display: inline-block;
	background-color: rgba(255,255,255,0.6);
	padding-left: 15px;
	padding-right: 15px;
}
.figure{
	display: inline-block;
}
.figure__circle{
	display: inline-block;
	border:4px solid #71390b;
	border-radius: 4px;
	margin-bottom: 5px;
}
.figure__line{
	display: inline-block;
	width: 145px;
	border-bottom:1px solid #71390b;
	margin-bottom: 8px;
}
.figure__icon{
	display: inline-block;
	width: 22px;
	height: 23px;
	background: url('img/icon_fork.png') center no-repeat;
	background-size: 100% 100%;
}
.headline{
	font-family: Vollkorn-SemiBold;
	font-size: 30px;
	color:#71390b;
	margin-top: 10px;
	margin-bottom: 10px;
}
.service-info__text{
	max-width: 570px;
	margin:0;
}
.sirvice-block{
	max-width: 925px;
	padding: 20px;
	background-color: #f5ede6;
	margin-top: 50px;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(168,168,168,1);
	-moz-box-shadow: 0px 5px 10px 0px rgba(168,168,168,1);
	box-shadow: 0px 5px 10px 0px rgba(168,168,168,1);
}
.sirvice-block__title{
	margin: 0;
	font-family: Vollkorn-SemiBold;
}
.sirvice-block__title_clr_brown{
	color: #71390b;
}
.sirvice-block__wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-basis: 181px;
	margin-top: 15px;
}
.sirvice-block__item{
	flex-basis: 180px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
}
.sirvice-block__icon-wrap{
	height: 45px;
}
.sirvice-block__icon{
	display: block;
	margin:0 auto;
}
.sirvice-block__text{
	margin:12px 0 0;
	font-size: 16px;
}
/**************************End block Service-info***********************/

/**************************Begin block Food-menu************************/
.food-menu{
	text-align: center;
	background: url('img/board_of_sweets.png') 0% 90% no-repeat,
	 url('img/cakes.png') 20% 100% no-repeat;
}
.food-menu__container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 50px;
}
.food-menu__item{
	flex-basis: 392px;
	height: 277px;
	margin-bottom: 1px;
}
.food-menu__item_bkg_1{
	background: url('img/salad.jpg') center no-repeat;
}
.food-menu__item_bkg_2{
	background: url('img/soup.jpg') center no-repeat;
}
.food-menu__item_bkg_3{
	background: url('img/breakfast.jpg') center no-repeat;
}
.food-menu__item_bkg_4{
	background: url('img/hot_dishes.jpg') center no-repeat;
}
.food-menu__item_bkg_5{
	background: url('img/drinks.jpg') center no-repeat;
}
.food-menu__item_bkg_6{
	background: url('img/caucasian_menu.jpg') center no-repeat;
}
.food-menu__link{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0,0.7);
}
.food-menu__link:hover>.food-menu__frame{
	width: 90%;
	height: 90%;
}
.food-menu__frame{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid #ffffff;
	width: 215px;
	height: 78px;
}
.food-menu__name{
	display: block;
	margin: 0;
}
/**************************End block Food-menu**************************/

/**************************Begin block Gallery-block********************/
.gallery-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding-top: 95px;
}
.gallery-block__item{
	background-color: rgba(255,255,255,0.6);
	margin-bottom: 20px;
}
.gallery-block__text{
	max-width: 350px;
}
.gallery{
}
.gallery__wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 686px;
	background-color: rgb(255,255,255,0.7);
}
.gallery__img{
	width: 620px;
	height: 450px;
}
.gallery__img-arrow{
	width: 18px;
	height: 36px;
}
/**************************End block Gallery-block***********************/

/**************************Begin Reservation-block***********************/
.reservation-block{
	padding-top: 130px;
	padding-bottom: 40px;
	background: url('img/wave_form.png') top left no-repeat,
				url('img/background_form.jpg') center no-repeat;
}
.reservation-block__position{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	padding-right: 8%;
}
/**************************End Reservation-block*************************/

/**************************Theme dark for Reservation form***************/
.reservation-box_theme_dark{
	background-color: rgba(0,0,0,0.5);
}
.figure__circle_theme_dark{
	border-color: #ffffff;
}
.figure__line_theme_dark{
	border-color: #ffffff
}
.figure__icon_theme_dark{
	background-image: url('img/icon_fork_white.png');
}
.headline_theme_dark{
	color: #ffffff;
}
.input_theme_dark{
	color: #ffffff;
	background-color: transparent;
	border-color: #ffffff;
}
.input_theme_dark:active{
	border:1px solid #ffffff;
	box-shadow: 0 0 5px #ffffff;
}
.input-button__frame_theme_dark{
	border-color: #ffffff;
}
.input-button_theme_dark{
	background-color: #ffffff;
	color: #000000;
}
/**************************End Theme dark for Reservation form**********/
.contacts{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.contacts__item{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 400px;
	min-width: 400px;
	height: 410px;
	text-align: center;
	box-shadow: 0 0 5px #999696;
	padding-top: 45px;
}
.contacts__title{
	font-family: Vollkorn-SemiBold;
	color: #71390b;
	text-align: left;
	padding-left: 40px;
	margin: 40px 0 0 0;
}
.contacts__icon{
	display: inline-block;
	width: 25px;
	height: 25px;
	padding-right: 10px;
	vertical-align: bottom;
}
.contacts__text{
	text-align: left;
	padding-left: 75px;
	margin: 0;
}
.contacts__link{
	color: #000000;
}

/**************************Begin block Footer*************************/
.footer{
	background-color: #2a221b;
	padding-top: 10px;
	padding-bottom: 10px;
}
/**************************End block Footer***************************/

/***********************Gamburger menu********************/
.container-wrap{
	font-family: Vollkorn-SemiBold;
	position: fixed;
	max-width: 1180px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-left: 10px;
	z-index: 3;
}
.container {
	background-color: rgba(0,0,0,0.8);
	overflow: hidden;
}

/* Toggle functionality */
#toggle {
	position: absolute;
	left: -100%;
	top: -100%;
}

#toggle:focus ~ .toggle-container .button-toggle {
	box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}

#toggle:checked ~ .toggle-container .button-toggle {
	box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}

#toggle:checked ~ .toggle-container .button-toggle:hover {
	box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}

#toggle:checked ~ .toggle-container .button-toggle:before {
	-webkit-transform: translateY(-50%) rotate(45deg) scale(1);
	  -ms-transform: translateY(-50%) rotate(45deg) scale(1);
	      transform: translateY(-50%) rotate(45deg) scale(1);
}

#toggle:checked ~ .toggle-container .button-toggle:after {
	-webkit-transform: translateY(-50%) rotate(-45deg) scale(1);
	  -ms-transform: translateY(-50%) rotate(-45deg) scale(1);
	      transform: translateY(-50%) rotate(-45deg) scale(1);
}

#toggle:checked:focus ~ .toggle-container .button-toggle {
	box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}

#toggle:checked ~ .nav {
	margin-bottom: 75px;
    margin-right: 90px;
    margin-left: 0px;
    margin-top: 0px;
	pointer-events: auto;
	-webkit-transform: translate(50px, 50px);
	  -ms-transform: translate(50px, 50px);
	      transform: translate(50px, 50px);
}

#toggle:checked ~ .nav .nav-item {
	color: #EC7263;
	letter-spacing: 0;
	height: 40px;
	line-height: 40px;
	margin-top: 0;
	opacity: 1;
	-webkit-transform: scaleY(1);
	  -ms-transform: scaleY(1);
	      transform: scaleY(1);
	-webkit-transition: 0.5s, opacity 0.1s;
	transition: 0.5s, opacity 0.1s;
}

#toggle:checked ~ .nav .nav-item:nth-child(1) {
	-webkit-transition-delay: 0.15s;
	      transition-delay: 0.15s;
}

#toggle:checked ~ .nav .nav-item:nth-child(1):before {
	-webkit-transition-delay: 0.15s;
	      transition-delay: 0.15s;
}

#toggle:checked ~ .nav .nav-item:nth-child(2) {
	-webkit-transition-delay: 0.1s;
	      transition-delay: 0.1s;
}

#toggle:checked ~ .nav .nav-item:nth-child(2):before {
	-webkit-transition-delay: 0.1s;
	      transition-delay: 0.1s;
}

#toggle:checked ~ .nav .nav-item:nth-child(3) {
	-webkit-transition-delay: 0.05s;
	      transition-delay: 0.05s;
}

#toggle:checked ~ .nav .nav-item:nth-child(3):before {
	-webkit-transition-delay: 0.05s;
	      transition-delay: 0.05s;
}

#toggle:checked ~ .nav .nav-item:nth-child(4) {
	-webkit-transition-delay: 0s;
	      transition-delay: 0s;
}

#toggle:checked ~ .nav .nav-item:nth-child(4):before {
	-webkit-transition-delay: 0s;
		  transition-delay: 0s;
}

#toggle:checked ~ .nav .nav-item:before {
	opacity: 0;
}

#toggle:checked ~ .dummy-content {
	padding-top: 30px;
}

#toggle:checked ~ .dummy-content:before {
	background-color: rgba(0, 0, 0, 0.3);
}

/* Toggle button */
.button-toggle {
	position: absolute;
	right: 0;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 25px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	border-radius: 100%;
	-webkit-transition: 0.6s;
	transition: 0.6s;
}

.button-toggle:hover {
	box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}

.button-toggle:before, .button-toggle:after {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #EC7263;
	border-radius: 5px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.button-toggle:before {
	-webkit-transform: translateY(-50%) rotate(45deg) scale(0);
	  -ms-transform: translateY(-50%) rotate(45deg) scale(0);
	      transform: translateY(-50%) rotate(45deg) scale(0);
}

.button-toggle:after {
	-webkit-transform: translateY(-50%) rotate(-45deg) scale(0);
	  -ms-transform: translateY(-50%) rotate(-45deg) scale(0);
	      transform: translateY(-50%) rotate(-45deg) scale(0);
	}

/* Menu */
.nav {
	display: inline-block;
	margin: 25px 25px 20px;
	pointer-events: none;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.nav-item {
	position: relative;
	display: inline-block;
	float: left;
	clear: both;
	color: transparent;
	font-size: 14px;
	letter-spacing: -6.2px;
	height: 7px;
	line-height: 7px;
	text-transform: uppercase;
	white-space: nowrap;
	-webkit-transform: scaleY(0.2);
	  -ms-transform: scaleY(0.2);
	      transform: scaleY(0.2);
	-webkit-transition: 0.5s, opacity 1s;
	transition: 0.5s, opacity 1s;
}

.nav-item:nth-child(1) {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.nav-item:nth-child(1):before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.nav-item:nth-child(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.nav-item:nth-child(2):before {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.nav-item:nth-child(3) {
	-webkit-transition-delay: 0.1s;
		transition-delay: 0.1s;
}

.nav-item:nth-child(3):before {
	-webkit-transition-delay: 0.1s;
		transition-delay: 0.1s;
}

.nav-item:nth-child(4) {
	-webkit-transition-delay: 0.15s;
		transition-delay: 0.15s;
}

.nav-item:nth-child(4):before {
	-webkit-transition-delay: 0.15s;
		transition-delay: 0.15s;
}

.nav-item:nth-child(1) {
	letter-spacing: -6px;
}

.nav-item:nth-child(2) {
	letter-spacing: -7px;
}

.nav-item:nth-child(n + 4) {
	letter-spacing: -8px;
	margin-top: -7px;
	opacity: 0;
}

.nav-item:before {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #EC7263;
	-webkit-transform: translateY(-50%) scaleY(5);
	  -ms-transform: translateY(-50%) scaleY(5);
	      transform: translateY(-50%) scaleY(5);
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

/* Dummy content */
.dummy-content {
	position: relative;
	text-align: center;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.dummy-content:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	z-index: 2;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.circle {
	display: inline-block;
	width: 75px;
	height: 75px;
	background-color: #EC7263;
	border-radius: 100%;
}

.text {
	margin: 15px 0 30px;
}

.text span {
	display: inline-block;
	height: 10px;
	margin: 0 5px;
	background-color: #C06162;
	border-radius: 5px;
}

.text span:first-child {
	width: 50px;
}

.text span:last-child {
	width: 80px;
}

.square-top {
	display: inline-block;
	position: relative;
	width: 200px;
	height: 300px;
	background-color: #FEBE7E;
	z-index: 1;
}

.square-behind {
	display: inline-block;
	position: relative;
	top: -256px;
	width: 250px;
	height: 210px;
	background-color: #C28683;
}

.square-behind:before, .square-behind:after {
	position: absolute;
	content: '';
	top: 0;
	width: 40%;
	height: 100%;
}

.square-behind:before {
	left: 0;
	background-color: #9D567C;
}

.square-behind:after {
	right: 0;
	background-color: #958C6B;
}
/*********************** End Gamburger menu********************/
@media (min-width: 1281px) {
	.container-wrap{
		display: none;
	}
}
@media (max-width: 1280px) {
	.inactive-mobile{
		display: none;
	}
	.menu{
		display: none;
	}
	.interaction-block{
		justify-content: space-around;
	}
}
@media (max-width: 1175px) {
	.food-menu__item{
		margin-bottom: 40px;
	}
	.sirvice-block{
		margin-left: 15px;
		margin-right: 15px;
	}
}
@media (max-width:1024px) {
	.header-content{
		width: auto;
	}
	.service-info__wrapper{
		display: block;
		width: 80%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.food-menu__link:hover>.food-menu__frame{
		width: 75%;
		height: 75%;
	}
	.food-menu__item{
		flex-basis: 340px;
		height: 227px;
	}
	.contacts {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}
@media  (max-width:768px) {
	.header{
	background: url('img/background_main_mobile.jpg') center no-repeat;
	}
	.service-info{
	background: url('img/plate_of_food_mobile.jpg') top right no-repeat;
	}
	.logo{
		width: 97px;
		height: 61px;
	}
	.header-content{
		margin-top: 75px;
		height: 400px;
		margin-bottom: -60px;
	}
	.header-content__logo{
		margin-top: 30px;
		width: 97px;
		height: 61px;
	}
	.header-content__title{
		margin-top: 20px;
		font-size: 24px;
		margin-bottom: 20px;
	}
	.play-block{
		width: 220px;
		margin-left: auto;
		margin-right: auto;
	}
	.play-block__text{
		display: inline-block;
		font-size: 12px;
		padding-left: 70px;
		padding-top: 25px;
	}
	.header-bootom__pic{
		margin-top: 0;
	}
	.figure__line{
		width: 100px;
	}
	.sirvice-block{
		margin-left: 15px;
		margin-right: 15px;
	}
	.sirvice-block__wrapper{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: center;
	}
	.sirvice-block__item{
		flex-basis: 200px;
	}
	.service-info__text{
		text-align: left;
		font-size: 17px;
	}
	.food-menu__container{
		margin-left: 15px;
		margin-right: 15px;
	}
	.food-menu__item{
		margin-bottom: 20px;
	}
	.gallery-block__item{
		padding-left: 15px;
		padding-right: 15px;
	}
	.contacts__item{
		margin-bottom: 10px;
		margin-top: 10px;
		background-color: #f9f9f9;
		width: auto;
		height: 380px;
		min-width: auto;
		padding-right: 10px;
	}
	.contacts__title{
		padding-left: 20px;
	}
	.contacts__text{
		padding-left: 55px;
	}
	.gallery-block{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.gallery__wrap{
		width: 90vw;
		padding-left: 15px;
		padding-right: 15px;
	}
	.gallery__img{
		width: 80vw;
		height: 60vw;
	}
}
@media  (max-width:500px) {
	.reservation-block__position{
		padding-right: 0;
		justify-content: center;
	}
	.reservation-box{
		width: 80vw;
		padding-left: 10px;
		padding-right: 10px;
	}
	.reservation-form{
		padding-top: 0;
	}
	.headline{
		font-size: 27px;
	}
	.input{
		width: 80%;
	}
}
@media  (max-width:500px){
	.headline{
		font-size: 24px;
	}
}