/*Fonts*/
@font-face {
	font-family: Montserrat-Bold;
	src: url(fonts/Montserrat-Bold.ttf);
}
@font-face {
	font-family: Montserrat-Medium;
	src: url(fonts/Montserrat-Medium.ttf);
}
@font-face {
	font-family: Montserrat-ExtraBold;
	src: url(fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
	font-family: Montserrat-Regular;
	src: url(fonts/Montserrat-Regular.ttf);
}
@font-face {
	font-family: PT Sans Caption Bold;
	src: url(fonts/PT Sans Caption Bold.ttf);
}


.page {
	margin: 0;
}
.link {
	text-decoration: none;
	color: #000;
}
.page__inner {
	max-width: 1140px;
	margin: 0 auto;
	box-sizing: border-box;
}
.header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-end;
	padding: 15px 0px 15px 132px;
}
.menu {
	margin: 0;
	padding: 0;
	min-width: 570px;
}
.menu__item{
	display: inline-block;
	width: 110px;
	text-align: center;
	font-family: Montserrat-Bold;
	font-size: 14px;
	line-height: 30px;
}
.menu__item_vertical-line_grey{
	border-right: 1px solid #ccccff;
}
.request-a-call{
	font-size: 16px;
	text-align: right;
	padding: 5px;
}
.request-a-call__phone {
	font-family: Montserrat-Medium;
}
.request-a-call__text {
	font-family: Montserrat-Bold;
	color: #f5b530;
	margin: 0;
	line-height: 30px;
}
.contacts {
	text-align: right;
	font-size: 14px;
	font-family: Montserrat-Medium;
}
.contacts__e-mail-icon {
	padding-right: 10px;
}
.social-contacts__img {
	padding:10px 5px 0px 10px;
}
.company-description-block {
	width: 100%;
	height: 730px;
	max-width: 1920px;
	background:  url('img/block_company-description.jpg') no-repeat;
	background-position: center;
}
.company-description-block__header{
	display: flex;
}
.company-description-block__logo-position{
	margin-top: -23px;
}
.form {
	width: 100%;
	position: relative;
	background: #216ba3;
	height: 60px;
}
.form__search{
	width: 85%;
	height: 35px;
	padding-left: 15px;
	border-radius: 20px;
	margin: 12px 10% auto 5%;
}
.form__submit {
	height: 35px;
	width: 35px;
	position: absolute;
	top: 15px;
	right: 9%;
	cursor: pointer;
	border-radius: 20px;
	background:url("img/search-icon.png") no-repeat ;
	background-position: center;
}
.input {
	border: none;
	outline: none;
}
.company-description-block__content-box {
	color: #fff;
	text-align: center;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.company-description-block__title {
	font-family: Montserrat-ExtraBold;
	font-size: 30px;
}
.company-description-block__text {
	font-family: Montserrat-Regular;
	font-size: 18px;
}
.company-description-block__button {
	margin-top: 60px;
}
.button {
	font-family: PT Sans Caption Bold;
	border: none;
	outline: none;
}
.button:hover {
	cursor: pointer;
}
.button_size_big {
	width: 415px;
	height: 70px;
	font-size: 20px;
}
.button_theme_yellow {
	background-color: #f5b530;
}
.button_theme_yellow:hover {
	background-color: #fbaa22;
}
.button_theme_yellow:active {
	box-shadow: inset 1px -1px 4px 1px rgba(0,0,0,0.4);
	background-color: #f9a416;
}





/*****************//*****************************/
 {border: 1px solid #222;}
